.father {
  display: flex;
  justify-content: space-around; 
  height: 100vh;
}

.child {
  width: 200px;
  height: 200px;
  background: peru;
  color: white;
}

.child:nth-child(1) {
  order: 2;
}

.child:nth-child(3) {
  order: 1
}
